.loader {
  animation: change 4s forwards infinite, spin 1s linear infinite;
}

@keyframes change {
  0% {
    color: var(--black);
  }
  34% {
    color: var(--red);
  }
  67% {
    color: var(--gold);
  }
  100% {
    color: var(--black);
  }
}

/* Need this instead of using animate-spin because there are two animations and animate-spin overrites the first one */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
