@import url("https://fonts.googleapis.com/css?family=Arvo");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --red: #dd0000;
  --gold: #ffce00;
}

* {
  font-family: "Arvo", Tofu;
}

body {
  margin: 0;
}

.masculine {
  background-color: var(--black);
}

.feminine {
  background-color: var(--red);
}

.neuter {
  background-color: var(--gold);
}
